Android Open Source Project/
dconf/
dunst/
fish/
flutter/
gammastep/
Google/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
matplotlib/
menus/
mimeapps.list
nitrogen/
opera/
pavucontrol.ini
procps/
protonvpn/
pulse/
ranger/
README.md
redshift/
Signal/
systemd/
chromium/
tool_state
user-dirs.dirs
user-dirs.locale
vlc/
xfce4/
yadm/
yay/
