[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/suliman/Desktop/DIALux evo.desktop]
row=7
col=0

[C6CCBDE1CCBDCBC5]
row=2
col=0

[5A1E8CA71E8C7DAF]
row=1
col=0

[A27638257637F91D]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/suliman]
row=6
col=0

