[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/suliman/Desktop/DIALux evo.desktop]
row=0
col=5

[C6CCBDE1CCBDCBC5]
row=0
col=2

[5A1E8CA71E8C7DAF]
row=0
col=3

[A27638257637F91D]
row=0
col=4

[Trash]
row=0
col=1

[/home/suliman]
row=0
col=0

